@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
  font-family: 'Inter', sans-serif;
  background-color: #ebebeb;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}

.body {
  padding: 0 10% 0 10%;
}

header a {
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #317beb;
  color: #317beb;
  align-self: flex-end;
  transition: 0.5s;
  align-self: center;
}

header a::after {
  transition: 1s;
  opacity: 0%;
}

header a:hover {
  box-shadow: 0 3px 5px 0 #317beb77;
  transform: translateY(-2px);
  background-color: white;
}

header a:hover::after {
  opacity: 100%;
  content: '→';
}

header h3 {
  margin: 0;
  font-size: 20px;
}

header h3::after {
  content: "\A Foundations of Digital Art Portfolio";
  color: #777777;
  font-weight: lighter;
  white-space: pre;

}

header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  /* background: white;
  padding: 10px;
  border-radius: 5px; */
  margin: 30px 0;
}

h3 {
  margin: 5px 0;
}

.section {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.section.ch {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section.ch img {
  margin-bottom: 5px;
}

.about p {
  color: #353636;
}

.select {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

ul {
  padding: 0;
  all: unset;
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  border: solid black 1px;
  border-radius: 5px;
  list-style-type: none;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  border-left: solid black 1px;
  color: black;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.2s;
}

ul a {
  color: inherit;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-decoration: none;
  padding: 5px;
  background-color: #ffffff00;
  transition: 0.2s;
}

ul a:hover {
  background-color: #ffffff00;
}

ul li:hover, #select li.active {
  color: white;
  background-color: black;
}

.left {
  border-left: none;
}

a {
  color: black;
  text-decoration: underline solid #317beb77;
  transition: 0.2s;
}

a:hover {
  background-color: #317beb33;
  text-decoration-color: #317beb;
}

img {
  width: 100%;
  height: auto;
}

.resizer {
  height: 100%;
  width: 10%;
  position: static;
  background-color: #111111;
  top: 0;
  right: 0;
  color: white;
  writing-mode: vertical-rl;
}

.resizer p {
  /* transform-origin: right top 0; */
  margin:  0;
  float: left;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.54);
  height: 5px;
  border-radius: 5px;
  background: #eee;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.imagesizer {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  box-shadow: 0px 9px 22px -4px rgba(0,0,0,0.33);
  border-radius: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
  padding: 10px 20px;
}

.slidecontainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #317beb;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #317beb;
  cursor: pointer;
}
#slidertext {
  margin: 0;
  padding: 0 3px;
  width: 50px;
  text-align: center;
}
.imagesizer h4 {
  margin: 0 0 5px 0;
}

#tooltip {
  visibility: hidden;
  display: flex;
  opacity: 0;
  position: absolute;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 9px 22px -4px rgba(0,0,0,0.33);
  width: auto;
  height: 40px;
  padding: 5px 10px;
  transition: opacity 0.2s;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 100;
}

#tooltip p {
  margin: 0;
}
